Jupyter notebook dsnt compile or interpret this code
Code is sent to kernel, which send executed code to jupyter for display.

In [66]:
# variable. then press tab to get fns, etc stuff
a = 10
a.to_bytes

In [27]:
[1, 2, 3] + ["hey"]

[1, 2, 3, 'hey']

In [5]:
a = "harsh"
a = 20
print(id(a)); # number range from -5 to 256 will have same id of diff. variables

2727655861136

In [7]:
c = 10
d = 4
print(c/d) # floating point division
print(c//d) # integer division
print(c**d) # exponentiation

2.5
2
10000

In [11]:
2 * 6 / 3

4.0

In [1]:
# input: it returns string.
a = int(input())     # type conversion to int

10

In [35]:
num1 = int(input())
num2 = int(input())
if (num1 > 10 and num2 > 10): 
    print("yes they are")
elif True: print("something")
else:
    print("no")

20
2
something

In [36]:
num = int(input())
i = 2
isPrime = True
while(i < num):
    if num % i == 0: 
        isPrime = False
        break
    i = i + 1
if(isPrime): print("prime")
else: print("Not prime")

5
prime

In [4]:
myString = "Harsh"
for character in myString:
    print(character, end=" ")

H a r s h

In [9]:
# Print num from 0 to n
n = int(input())
# range(start, stop, stride) 
# stride means increment by certain digit.
# It will print till < n.
# NOTE: range() accept only integer args.

for i in range(1, n, 1):
    print(i)

5
1
2
3
4

In [10]:
# If we give only one argument to range, then it will be considered as stop.
# And by default start will be 0, and stride will be 1.
n = 5
for i in range(n): print(i, end="")
print()
for i in range(n + 1): print(i, end=" ")

01234
0 1 2 3 4 5

In [14]:
# numbers from n to 1
n = int(input())
for i in range(n, 0, -1):
    print(i)

5
5
4
3
2
1

In [1]:
for i in range(1,5,2):
    print(i, end=' ')

1 3

In [13]:
# print multiples of 3

a = int(input())
b = int(input())
i = a
while i < b:
    if i % 3 == 0: break
    i = i + 1
    
for i in range(i, b+1, 3):
        print(i)

2
9
3
6
9

In [16]:
num = int(input())
isPrime = True
for x in range(2, num, 1):
    if num % x == 0:
        isPrime = False
        break
        
if isPrime:
    print("yes")
else:
    print("Not prime")

8
Not prime

In [19]:
# Here, else block executes only on completion of entire iteration.
# So if the loop is terminated by break, else block wont execute.

for i in range(1,5,1):
    if i == 4 :
        break
else:
    print("in else")

print("normal print")

normal print

In [15]:
for i in range(1,5,1):
    print(i)
else:
    print("in else")

1
2
3
4
in else

In [47]:
# if we dnt want to write anything inside loops or if-block
# then we must write "pass" to avoid python syntax error.
i = 5
if(i == 5):
    pass
print("its irrelevent stuff")

its irrelevent stuff

# Strings

In python, character data type dsnt exist, only string does.

In [53]:
s = "harshvardhan"
print(s[2])
type(s[2])

r

str

In [11]:
k = "h"
k*5

'hhhhh'

In [56]:
for i in s:
    print(i, end="")

harshvardhan

In [5]:
a = 'Hey there harsh\'s ... "great day it was" gfghg'
print(a)

Hey there harsh's ... "great day it was" gfghg

In [76]:
'a' > 'A'

True

In [12]:
# original string wont change, we will get new string.
# split(): returns a list. By default split happens on white space.
myStr = "hey my name is harsh"
myStr.split()

['hey', 'my', 'name', 'is', 'harsh']

In [20]:
# partition(): unlike split, the delimeter through which partition takes place 
#  will also be part of resulting tuple.
# Unlike split(), There is no default space delimeter in case of partition()
# Unlike split(), it will divide for only first occurence of delimeter.
# partition() returns tuple, not list.

myStr = "xAyAzAq"  # 'A' is delimeter here
res =  myStr.partition("A") 
print(res)
type (res)

('x', 'A', 'yAzAq')

tuple

In [25]:
f = "HEY"
f.center(6, 'a')
#NOTE: center(arg1, arg2) accepts single character only, for arg2

'aHEYaa'

In [28]:
name = input("enter name")
age = int(input("enter age"))
'Hi i am {}, my age is {}'.format(name, age)

enter nameharsh
enter age25

'Hi i am harsh, my age is 25'

In [7]:
# replace: original string wont change, we will get new string.
a.replace("it", "es")
# print(a)

'Hey there harsh\'s ... "great day es was" gfghg'

In [86]:
# find: gives idx of first letter, here 't'
a.find("there") # returns -1, if not found

4

In [88]:
# upper
a.upper()

'HEY THERE HARSH\'S ... "GREAT DAY IT WAS" GFGHG'

In [91]:
# islower
a.islower()

False

In [9]:
# string slicing: s[startIndex, endIndex, jump], where endIndex is excluded.
myS = "hi there its me"
x = myS[1:5]
x

'i th'

In [93]:
myS[:] # gives complete string

'hi there its me'

In [94]:
s =  "harsh"
s1 = s[5:0:-1]
s2 = s[5::-1]
s3 = s[::-1]
print(s1)
print(s2)
print(s3)

hsra
hsrah
hsrah

In [33]:
# replace first occurence of x with y in s
s = input()
ans = s
position = ans.find('x')

if position != -1:
    ans = s[:position] + 'y' + s[position+1:]

ans

hey x z h x

'hey y z h x'

In [99]:
s = input()
ans = s
for i in range(0, len(s)):
    if s[i] == 'x':
        ans = ans[:i] + 'y' + ans[i+1:]
ans

asdxasex

'asdyasey'

# Lists

sort, remove, insert, append, & extend does operation on original list itself

In [84]:
# ways to create list data structure
c = []
c1 = list()
print(c)
print(c1)

[]
[]

In [91]:
a = [1, 2, True, "harsh"]

a[1] = 5 # lists are mutuable, unlike strings.
print(a)
print(a[-1])
print(a[0:3])
print(a[3:-3:-1])
print(a[-1:-3]) # empty bcz jump is +1 bydefault, causing direction clash

[1, 5, True, 'harsh']
harsh
[1, 5, True]
['harsh', True]
[]

In [107]:
a * 3 # repeating three times

[1, 2, 5, 7, 1, 2, 5, 7, 1, 2, 5, 7]

In [5]:
c = ["hey","harsh"] + b  # gives new list
c

['hey', 'harsh', 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [63]:
# append: add data to the end
x = [True, 10, 20]
x.append([30, 900]) 
x.append(1000)
x

[True, 10, 20, [30, 900], 1000]

In [115]:
x.insert(0, False) # add data to specific index(here 0th index)
x

[False, True, 10, 20, 30]

In [80]:
a = [100, 200, 'a', 'z']
b = [True, 888, [1.1, 2.2, 3.3]]
a.extend(b) # list expansion but upto one level only, dsnt expand nested lists.
a

[100, 200, 'a', 'z', True, 888, [1.1, 2.2, 3.3]]

In [44]:
a = [10, 20, 30, 40, 50, 20]
a.remove(20)  # removes first occurence of 20. Dsnt retrn anything.
a

[10, 30, 40, 50, 20]

In [7]:
x = [10, 20, 30, 40]
popedElem = x.pop(2)   # deletes the elem of given idx. Returns poped elem.
print(x)
popedElem

[10, 20, 40]

30

In [131]:
c = [10, 20, 30, 40]
del c[1]   # deletes the elem of given idx. Desnt return deleted elem.
c

[10, 30, 40]

In [82]:
c = [20, 200, 3, -3]
c.sort()
max(c)
c.index(3)  # gives index, else error if elem passed as arg doesnt exist in list.
200 in c    # Gives true/false, if present or not

True

In [5]:
sizes = input()
m = int(sizes[0])
n = int(sizes[1])
myList = []
for i in range(m):
    next_row = []
    for j in range(n):
        elem = int(input())
        next_row.append(elem)
    myList.append(next_row)
myList

23
5
10
15
4
8
12

[[5, 10, 15], [4, 8, 12]]

In [11]:
myList = [1, 2, True, 4, 5, 6, "fgg"]
for index in range(len(myList)):
    print(myList[index])

1
2
True
4
5
6
fgg

In [34]:
x = [1, 2, 3, 4]
print(x[::-1]) 
print(x)      # original list didnt affected.
x.reverse();
print(x)      # original list gets reversed here

[4, 3, 2, 1]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [38]:
k = [1, 7, 3, 8, 5]
k.sort()  # in ascending order
k
k.sort(reverse=True) # Sort in descending order
k

[8, 7, 5, 3, 1]

In [43]:
x = [1, 2, 4]
y = [4, 6, 8]
z = [8, 5, 3,44, 66, 88]
alpha = [x, y, z]
print(alpha)
print(alpha[-1][::2])

[[1, 2, 4], [4, 6, 8], [8, 5, 3, 44, 66, 88]]
[8, 3, 66]

In [73]:
# Reverse above list. Also reverse nested lists.

# alpha.reverse()
# for idx in range(len(alpha)) :
#     alpha[idx].reverse()
# alpha

# Approach-2:
L = alpha[::-1]
finalList = []
for index in range(len(L)) :
    finalList.append(L[index][::-1])
finalList

[[88, 66, 44, 3, 5, 8], [8, 6, 4], [4, 2, 1]]

In [76]:
# List comprehension:

b = [i*2 for i in range(10)]
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [79]:
a = [[j for j in range(5)] for i in range(5)]
a

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [90]:
[ j*2 for j in [ idx[2] for idx in [[1,2,3], [2,4,6], [3,6,9]] ] ]

[6, 12, 18]

In [87]:
sizes = input()
m = int(sizes[0])
n = int(sizes[1])
myList = []
for i in range(m):
    next_row = [int(x) for x in input().split()]
    myList.append(next_row)
myList

34
23
23
23

[[23], [23], [23]]

In [92]:
s= "harsh"
s.split('r')

['ha', 'sh']